@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 33% 97%;
    --foreground: 214 31% 12%;
    --card: 0 0% 100%;
    --card-foreground: 214 31% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 214 31% 12%;
    --primary: 210 50% 22%;
    --primary-foreground: 0 0% 100%;
    --secondary: 208 25% 93%;
    --secondary-foreground: 214 31% 12%;
    --muted: 220 15% 95%;
    --muted-foreground: 220 10% 45%;
    --accent: 205 90% 95%;
    --accent-foreground: 210 50% 24%;
    --border: 220 10% 88%;
    --input: 220 10% 88%;
    --ring: 214 45% 35%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
